/* --------(BAse du CSS)-------- */
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   
   background-image: url(assets/desktop/bg-image-daytime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.315);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
 
}

#content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
/* --------------------------- */

/* ---------(style pour la citation)--------- */
#height_paragraph{
    font-size: 18px;
}
#p_height_page {
    grid-column: 1;
    grid-row: 1;
}
#span_height_page{
    font-weight: bold;
}
/* ----------------------------------------------- */

/* --------------(Balise de contenue)----------------- */
#info {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ---------------------------------------------------- */

/* ---------------(Météo et text de politesse)------------ */
#meteo {
    display: flex;
    font-size: 20px;
    letter-spacing:4px;
}
#meteo_img {
    margin-right: 14px;
}
/* ------------------------------------------------------- */

/* ----------------(Balise pour l'horloge)---------------- */
#horloge {
    font-size: 200px;
    font-weight: bold;
}
#horloge > p {
    margin: 0;
}
#horloge > p > span {
    font-size: 40px;
    margin-left: 20px;
    font-weight: normal;
}
/* ----------------------------------------------------- */

/* ---------------(Position géographique)--------------- */
#position{
    font-size: 24px;
    font-weight: bold;
}
/* -------------------------------------------------- */
