/* --------(BAse du CSS)-------- */
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   
   background-image: url(assets/desktop/bg-image-daytime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
     overflow: hidden; 
}
body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.315);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
 
}

#content {
     height: 100vh; 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
    
    color: white;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* overflow: hidden; */
}
/* --------------------------- */

/* ---------(style pour la citation)--------- */
.height_page {
    margin-top:10%;
     margin-left: 10%;
    margin-right: 10%; 
}

.height_paragraph{
    font-size: 18px;
}
#p_height_page {
    grid-column: 1;
    grid-row: 1;
}
#span_height_page{
    font-weight: bold;
}
/* ----------------------------------------------- */

/* --------------(Balise de contenue)----------------- */
.info-grid {
   grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%; 
}
/* ---------------------------------------------------- */

/* ---------------(Météo et text de politesse)------------ */
#meteo {
    display: flex;
    font-size: 20px;
    letter-spacing:4px;
}
#meteo_img {
    margin-right: 14px;
}
/* ------------------------------------------------------- */

/* ----------------(Balise pour l'horloge)---------------- */
#horloge {
    font-size: 200px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
#horloge > p {
    margin: 0;
    
}
#horloge  > span {
    font-size: 40px;
    margin-left: 20px;
    font-weight: normal;
    display: flex;
   align-items: flex-end;
   margin-bottom: 40px;
}
/* ----------------------------------------------------- */

/* ---------------(Position géographique)--------------- */
#position{
    font-size: 24px;
    font-weight: bold;
}
/* -------------------------------------------------- */

.button-look{
    grid-area: 2/2/3/3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 40px;
}
button {
    padding: 20px 60px 20px 20px;
    border-radius: 28px;
    letter-spacing: 5px;
    cursor: pointer;
}

.img-fleche{
    position: relative;
    right: 50px;
    bottom: 26px;
    pointer-events: none;
    transition: transform 1.5s;
}
button:hover .img {
    opacity: 20%;
}


.more-transition {
position: relative;
width: 100vw;
bottom: 0;
transition: transform 2s ;
/* backdrop-filter: blur(20px); */

}
.more {

    background-color: #ffffffc7;
    
    color: black;
    display: grid;
    transition: transform ease-in-out;
    padding: 50px 200px 50px 200px;
  

   
}
.img-fleche.active-button {
    transform: rotate(180deg);
 
}
.info-grid.active-button {
    grid-area: 1/1/2/2;
    margin-top: 96px;

}
.more-transition.active-button {
    
transform: translateY(-100%);  
}
.height_page.active-button {
    display: none;
}
.button-look.active-button {
    grid-area: 1/2/2/3;
}
#left_1 {
    grid-column: 1;
    grid-row: 1;
}
#left_2 {
    grid-column: 1;
    grid-row: 3;
}
#right_1 {
    grid-column: 3;
    grid-row: 1;
}
#right_2 {
    grid-column: 3;
    grid-row: 3;
}
#position_geographique {
    grid-column: 1;
    grid-row: 2;
}
#jour_année{
    grid-column: 1;
    grid-row: 4;
}
#jour_semaine {
    grid-column: 3;
    grid-row: 2;
}
#semaine_année {
    grid-column: 3;
    grid-row: 4;
}

.font {
    font-size: 56px; 
    font-weight: bold;
    margin: 0;
}
.font_2 {
    font-size: 15px;
}
#decoration_more{
    grid-column: 2;
    grid-row: span 4;
    border-left: 1px solid #303030;
}